<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>FSU CSMuseum Case #3</title>
</head>

<!--Body-->

<body class="d-flex flex-column min-vh-100">

<!--Header-->
<div class="jumbotron align-items-center bg-light">
    <h1>FSU Computer Science Museum</h1>
</div>
<!--Header-->

<!--Nav Bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light border border-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li>
        </ul>
    </div>
</nav>
<!--Nav Bar-->

<!--Body Heading Container-->
<div class="body-title">
    <h2>Items</h2>
</div>
<!--Body Heading Container-->

<!--Image Container-->
<div class="img-container">

    <a href="/case_3/item_1">
        <figure class="figure">
            <img src="/static/images/items/rca-cosmac-vip.jpg" class="figure-img img-fluid rounded"
                 alt="case_3 item_1 image">
            <figcaption class="figure-caption text-center">RCA COSMAC VIP</figcaption>
        </figure>
    </a>

    <a href="/case_3/item_2">
        <figure class="figure">
            <img src="/static/images/items/micro-computer-project.jpg" class="figure-img img-fluid rounded"
                 alt="case_3 item_2 image">
            <figcaption class="figure-caption text-center">Micro Computer Project</figcaption>
        </figure>
    </a>

    <a href="/case_3/item_3">
        <figure class="figure">
            <img src="/static/images/items/early-learning-computers.jpg"
                 class="figure-img img-fluid rounded"
                 alt="case_3 item_3 image">
            <figcaption class="figure-caption text-center">Early Learning Computers for Practicing Machine
                Language
            </figcaption>
        </figure>
    </a>


    <a href="/case_3/item_4">
        <figure class="figure">
            <img src="/static/images/items/TI99-4A.jpg" class="figure-img img-fluid rounded"
                 alt="case_3 item_4 image">
            <figcaption class="figure-caption text-center">TI 99/4A</figcaption>
        </figure>
    </a>

    <a href="/case_3/item_5">
        <figure class="figure">
            <img src="/static/images/items/timex-sinclair.jpg" class="figure-img img-fluid rounded"
                 alt="case_3 item_5 image">
            <figcaption class="figure-caption text-center">Timex Sinclair Computer</figcaption>
        </figure>
    </a>

    <a href="/case_3/item_6">
        <figure class="figure">
            <img src="/static/images/items/Commodore-64.jpg" class="figure-img img-fluid rounded"
                 alt="case_3 item_6 image">
            <figcaption class="figure-caption text-center">Commodore 64</figcaption>
        </figure>
    </a>


    <a href="/case_3/item_7">
        <figure class="figure">
            <img src="/static/images/items/Macintosh-Plus.JPG" class="figure-img img-fluid rounded"
                 alt="case_3 item_7 image">
            <figcaption class="figure-caption text-center">Macintosh Plus</figcaption>
        </figure>
    </a>

    <a href="/case_3/item_8">
        <figure class="figure">
            <img src="/static/images/items/apple-lisa-2.jpg" class="figure-img img-fluid rounded"
                 alt="case_3 item_8 image">
            <figcaption class="figure-caption text-center">Apple Lisa 2</figcaption>
        </figure>
    </a>

    <a href="/case_3/item_9">
        <figure class="figure">
            <img src="/static/images/items/Apple-II-plus.jpg" class="figure-img img-fluid rounded"
                 alt="case_3 item_9 image">
            <figcaption class="figure-caption text-center">Apple II Plus</figcaption>
        </figure>
    </a>

    <a href="/case_3/item_10">
        <figure class="figure">
            <img src="/static/images/items/Apple_III_Plus.jpg" class="figure-img img-fluid rounded"
                 alt="case_3 item_10 image">
            <figcaption class="figure-caption text-center">Apple III Plus</figcaption>
        </figure>
    </a>

    <a href="/case_3/item_11">
        <figure class="figure">
            <img src="/static/images/items/zenith-minisport.jpg" class="figure-img img-fluid rounded"
                 alt="case_3 item_11 image">
            <figcaption class="figure-caption text-center">Zenith Data Systems MinisPort</figcaption>
        </figure>
    </a>

</div>
<!--Image Container-->

<!-- Footer -->
<footer class="mt-auto text-center bg-light">
    <!-- Source Code -->
    <p class="source-code"><a href="https://github.com/Jiminger/CSMuseum"> Source Code</a></p>
    <!-- Source Code -->
</footer>
<!-- Footer -->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
<!--Body-->

</html>